<!DOCTYPE html>
        <body>

        {% if user.is_authenticated %}
        
        <form action="/send" method="POST">
            {% csrf_token %}
            Message: <br>
            <textarea name="content" rows="3" cols="60"></textarea>
            <br>
            <input type="submit" value="Send">
        </form>

        <a href="{% url 'home' %}">Return</a>

        {% else %}
            <div class="alert alert-success" role="alert">
                <h3>Welcome!</h3>
                <a href="{% url 'signin' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
        <p>
        </body>